<div class="my-20 sm:my-10" >
  <div class="flex mx-32 sm:mx-0 sm:px-5 sm:flex-col">
    <div class="w-1/2 flex items-center sm:hidden">
      <app-carousel-tecnologias></app-carousel-tecnologias>
    </div>
    <div class="w-1/2 flex items-center sm:w-full">
      <div>
        <p class="text-amber-300 text-4xl font-bold sm:text-2xl">Habilidades</p>
        <div class="py-5 flex flex-col">
          <p class="text-xl font-bold sm:text-sm">
            HTML - CSS - JavaScript -TypeScript - NodeJs - Angular
          </p>
          <p class="text-xl font-bold sm:text-sm">
            React - React Native - Laravel - PHP - Java - C/C++ - C#
          </p>
          <p class="text-xl font-bold sm:text-sm">
            MongoDB - MySQL - SqlServer - Git - GitHub
          </p>
        </div>
      </div>
    </div>
    <div class="w-1/2 flex items-center sm:w-full sm:mt-4 smUp:hidden">
      <app-carousel-tecnologias></app-carousel-tecnologias>
    </div>
  </div>
</div>
