<img
  src="../../../../../assets/fondo01.jpg"
  class="w-full imagen-fondo"
  alt=""
/>
<div
  class="w-full flex sm:flex-col sm:items-center sm:mt-10 h-[70vh]">
  <!-- Bloque 1 -->
  <div class="flex flex-col justify-center w-5/12">

    <div class="flex flex-col text-center">
      <p class="text-black font-bold text-3xl md:text-2xl sm:text-xl">
        Hola, <span class="text-amber-400">Soy Daniel Palli</span>
      </p>

      <p class="text-black text-5xl sm:text-2xl lg:text-4xl md:text-3xl font-bold">
        FullStack Developer.
      </p>
    </div>
    <app-redes></app-redes>
  </div>

  <!-- Bloque 2 -->
  <div class="w-7/12">
    <app-habilidades></app-habilidades>
  </div>
</div>
