<section class="px-5">
  <h1 class="text-lg font-semibold">Experiencia Laboral</h1>
  <ul class="text-sm space-y-2">
    @for (item of data(); track $index) {
      <li class="">
        <div class="flex justify-between">
          <h3 class="font-semibold">{{ item.company }}</h3>
          <span class="text-gray-700">{{ item.startDate }} - {{ item.endDate }}</span>
        </div>

        <span class="text-xs font-mono">{{ item.position }}</span>

        <p>{{ item.summary }}</p>

        <div class="flex items-center mt-2">
          <ul
            class="flex gap-x-1 text-[0.6rem] bg-gray-300 rounded-lg px-2 shadow-md"
          >
            @for (skill of item.stack; track $index) {
              <li><span>{{ skill }}{{ $last ? '' : ',' }}</span></li>
            }
          </ul>
        </div>
      </li>
    }
  </ul>
</section>
