<div class="w-full mt-5 px-4 bg-zinc-900 rounded-lg shadow-md">
  <div
    class="flex justify-center text-amber-400 text-4xl font-bold text-estilo"
  >
    Cursos y Certificaciones
  </div>
  <!-- tagla cursos logo y tecnologia -->
  <div class="overflow-x-auto relative rounded-lg mt-4 pb-3">
    <table class="w-full text-sm text-left text-gray-400">
      <thead class="text-xs uppercase bg-zinc-700 text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6">Institucion</th>
          <th scope="col" class="py-3 px-6">Curso</th>
          <th scope="col" class="py-3 px-6">Año</th>
          <th scope="col" class="py-3 px-6">Link al certificado</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-zinc-800 hover:bg-gray-600 transition 4s">
          <th
            scope="row"
            class="py-4 px-6 font-medium whitespace-nowrap text-white"
          >
            Apple MacBook Pro 17"
          </th>
          <td class="py-4 px-6">Sliver</td>
          <td class="py-4 px-6">Laptop</td>
          <td class="py-4 px-6">$2999</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
