<div class="w-full flex" style="height: calc(100vh - 400px)">
  <div class="w-8/12 flex items-center">
    <div class="w-full">
      <div class="p-4">
        <p class="text-yellow-500 text-4xl font-bold text-estilo">
          Cursos y Certificaciones
        </p>
        <div class="overflow-x-auto relative mt-4">

          <table class="w-full text-sm text-left">
            <thead class="text-xs uppercase">
              <tr>
                <th scope="col" class="py-3 px-6">Curso</th>
                <th scope="col" class="py-3 px-6">Entidad</th>
                <th scope="col" class="py-3 px-6">Año</th>
                <th scope="col" class="py-3 px-6">Link al certificado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                  Especialista en react
                </th>
                <td class="py-4 px-6">Codo a Codo</td>
                <td class="py-4 px-6">2022</td>
                <td class="py-4 px-6"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                  C#
                </th>
                <td class="py-4 px-6">Neoris</td>
                <td class="py-4 px-6">2022</td>
                <td class="py-4 px-6"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                  Angular
                </th>
                <td class="py-4 px-6">Coder House</td>
                <td class="py-4 px-6">2022</td>
                <td class="py-4 px-6"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                  Testing Qa
                </th>
                <td class="py-4 px-6">Codo a Codo</td>
                <td class="py-4 px-6">2021</td>
                <td class="py-4 px-6"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                  Laravel
                </th>
                <td class="py-4 px-6">Neoris</td>
                <td class="py-4 px-6">2021</td>
                <td class="py-4 px-6"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <th scope="row" class="py-4 px-6 font-medium whitespace-nowrap">
                  Programación Web
                </th>
                <td class="py-4 px-6">MindHub</td>
                <td class="py-4 px-6">2019</td>
                <td class="py-4 px-6"><a href="">Link al certificado</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="w-4/12 flex items-center justify-center">
    <img src="../../../../../assets/img03.jpg" class="w-72" alt="" />
  </div>
</div>
