<div class="w-full flex pb-10 sm:flex-col">
  <div class="w-8/12 flex items-center sm:w-full">
    <div class="w-full">
      <div class="p-4">
        <p class="text-yellow-500 text-4xl font-bold text-estilo sm:text-2xl">
          Cursos y Certificaciones
        </p>
        <div class="overflow-x-auto relative mt-4">
          <table class="w-full text-sm text-left">
            <thead class="text-xs uppercase">
              <tr>
                <th class="py-3 px-6 sm:py-0 text-white">Curso</th>
                <th class="py-3 px-6 sm:py-0 text-white">Entidad</th>
                <th class="py-3 px-6 sm:py-0 text-white">Año</th>
                <th class="py-3 px-6 sm:py-0 text-white">
                  Link al certificado
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="py-4 px-6 sm:py-0 font-medium text-white">
                  Especialista en react
                </td>
                <td class="py-4 px-6 sm:py-0 text-white">Codo a Codo</td>
                <td class="py-4 px-6 sm:py-0 text-white">2022</td>
                <td class="py-4 px-6 sm:py-0 text-white"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <td class="py-4 px-6 sm:py-0 font-medium text-white">C#</td>
                <td class="py-4 px-6 sm:py-0 text-white">Neoris</td>
                <td class="py-4 px-6 sm:py-0 text-white">2022</td>
                <td class="py-4 px-6 sm:py-0 text-white"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <td class="py-4 px-6 sm:py-0 font-medium text-white">Angular</td>
                <td class="py-4 px-6 sm:py-0 text-white">Coder House</td>
                <td class="py-4 px-6 sm:py-0 text-white">2022</td>
                <td class="py-4 px-6 sm:py-0 text-white"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <td class="py-4 px-6 sm:py-0 font-medium text-white">
                  Testing Qa
                </td>
                <td class="py-4 px-6 sm:py-0 text-white">Codo a Codo</td>
                <td class="py-4 px-6 sm:py-0 text-white">2021</td>
                <td class="py-4 px-6 sm:py-0 text-white"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <td class="py-4 px-6 sm:py-0 font-medium text-white">Laravel</td>
                <td class="py-4 px-6 sm:py-0 text-white">Neoris</td>
                <td class="py-4 px-6 sm:py-0 text-white">2021</td>
                <td class="py-4 px-6 sm:py-0 text-white"><a href="">Link al certificado</a></td>
              </tr>
              <tr>
                <td class="py-4 px-6 sm:py-0 font-medium text-white">
                  Programación Web
                </td>
                <td class="py-4 px-6 sm:py-0 text-white">MindHub</td>
                <td class="py-4 px-6 sm:py-0 text-white">2019</td>
                <td class="py-4 px-6 sm:py-0 text-white"><a href="">Link al certificado</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="w-4/12 flex items-center justify-center sm:hidden">
    <img src="../../../../../assets/img03.png" class="w-72" alt="" />
  </div>
</div>
