<div class="flex justify-center w-full">
  <div class="flex w-8/12 justify-between text-white">
    <div class="container flex flex-wrap justify-between items-center mx-auto animate__animated animate__fadeIn">
      <a routerLink="/inicio" class="flex items-center cursor-pointer">
        <img
          src="../../../../assets/logo.png"
          class="mr-1 h-3"
          alt="logo"
        />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap text-zinc-400 transition-colors duration-300 hover:text-zinc-700"
          >Daniel Palli</span
        >
      </a>
      <div class="py-2.5 sm:hidden">
        <a
          class="mr-2 transition-colors duration-300 hover:text-gray-700"
          *ngFor="let link of links"
          routerLink="/{{ link.url }}"
          [routerLinkActive]="['text-sky-500']"
          >{{ link.name }}</a
        >
      </div>
    </div>
  </div>
</div>
