<div class="flex">
  <div class="w-8/12 px-4">
    <p class="flex justify-center text-amber-300 text-4xl font-bold">Sobre mi</p>
    <p class="py-1 font-bold text-white">
      Naci en Argentina, Ciudad Autonoma de Buenos Aires.<br />
      Inicie en el mundo de la programación web el 2019 en mindhub por medio de
      una beca otorgada por el Instituto Nacional de Educación Tecnológica del
      programa "Tu Futuro en Programación".<br />
      Amante de la tecnología y la programación. Autodidacta, me gusta aprender
      cosas nuevas y compartir conocimientos.
    </p>
  </div>

  <div class="w-4/12 flex justify-end">
    <img src="../../../../../assets/img01.jpg" class="w-96 mt-[-25%]" alt="">
  </div>
</div>
