<div class="flex sm:flex-col">
  <div class="w-8/12 px-4 sm:w-full sm:px-0">
    <p class="flex justify-center text-amber-300 text-4xl sm:text-2xl font-bold">Sobre mi</p>
    <p class="py-5 font-bold text-white sm:py-3 sm:text-sm">
      Naci en Argentina, Ciudad Autonoma de Buenos Aires.<br />
      Inicie en el mundo de la programación web el 2019 en mindhub por medio de
      una beca otorgada por el Instituto Nacional de Educación Tecnológica del
      programa "Tu Futuro en Programación".<br />
      Amante de la tecnología y la programación. Autodidacta, me gusta aprender
      cosas nuevas y compartir conocimientos.
    </p>
  </div>

  <div class="w-4/12 flex justify-end sm:w-full sm:justify-center">
    <img src="../../../../../assets/img01.png" class="w-96 2xl:w-80 sm:w-56 mt-[-15%] sm:mt-2" alt="">
  </div>
</div>
