<div class="bg-gray-800 text-gray-200 animate__animated animate__fadeIn">
  <span class="absolute pl-2 pt-1.5 text-gray-300">
    @Copyright 2022 - <a href="#" class="text-blue-500">Privacy Policy</a>
  </span>
  <div class="flex flex-row justify-center mx-auto">
    <ul class="flex flex-row">
      <li>
        <a href="#"><i class="h-5 shadow-sm fa-brands fa-instagram m-2"></i></a>
      </li>
      <li><i class="h-5 shadow-sm fa-brands fa-twitter m-2"></i></li>
      <li><i class="h-5 shadow-sm fa-brands fa-facebook-f m-2"></i></li>
      <li><i class="h-5 shadow-sm fa-brands fa-github m-2"></i></li>
    </ul>
  </div>
</div>
