<div class="w-full mt-5 flex">
  <div class="w-3/12">conten </div>
  <div class="w-9/12">
    <div
      class="flex text-amber-400 text-4xl font-bold text-estilo"
    >
      Educación
    </div>
    <div class="flex justify-between">
      <p class="text-black font-bold py-1">
        Universidad Tecnologica Nacional(UTN) - Ingenieria en Sistemas de
        Informacion
      </p>

      <p class="text-white font-bold py-1">En Curso</p>
    </div>

    <div class="flex justify-between">
      <p class="text-white font-bold py-1">
        Liceo 4, "Remedios de escalada de San Martin"
      </p>

      <p class="text-white font-bold py-1">Finalizado - Bachiller</p>
    </div>
  </div>
</div>
