<div class="mx-[300px] mt-10 xl:mx-[250px] lg:mx-[150px] md:mx-[100px] sm:mx-0">
  <swiper
    [spaceBetween]="30"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [autoplay]="{
      delay: 3500,
      disableOnInteraction: false
    }"
    [pagination]="{
      clickable: true
    }"
    class="mySwiper"
  >
    <ng-template
      *ngFor="let tecno of tecnologias"
      class="flex justify-center pb-10"
      swiperSlide
    >
    <img class="{{tecno.altura}} {{tecno.ancho}}" src="{{tecno.img}}" alt="">
    </ng-template>
  </swiper>
</div>
