<div class="mx-20 pt-10 h-screen animate__animated animate__pulse animate__faster">
  <div class="w-full degrade-radial text-white rounded-md px-4 shadow-md ">
    <p class="flex justify-center text-5xl font-bold text-estilo">Sobre mi</p>
    <p class="font-bold py-1">
      Naci en Argentina, Ciudad Autonoma de Buenos Aires.<br />
      Inicie en el mundo de la programación web el 2019 en mindhub por medio de
      una beca otorgada por el Instituto Nacional de Educación Tecnológica del
      programa "Tu Futuro en Programación".<br />
      Amante de la tecnología y la programación. Autodidacta, me gusta aprender
      cosas nuevas y compartir conocimientos.
    </p>
  </div>
  <div class="w-full pt-5">
    <div class="text-gray-300 flex justify-center text-5xl font-bold text-estilo">
      Educación
    </div>
    <div class="flex flex-col">
      <div class="flex flex-row">
        <div class="w-1/2">
          <p class="text-white font-bold py-1">
            Instituto Nacional de Educación Tecnológica (INET)
          </p>
        </div>
        <div class="w-1/2 ">
          <p class="text-white font-bold py-1">
            2020 - 2021
          </p>
        </div>
      </div>
      <div class="flex flex-row">
        <div class="w-1/2">
          <p class="text-white font-bold py-1">
            Instituto Nacional de Educación Tecnológica (INET)
          </p>
        </div>
        <div class="w-1/2">
          <p class="text-white font-bold py-1">
            2020 - 2021
          </p>
        </div>
      </div>
  </div>
  <div class="w-full pt-5">
    <div class="text-gray-300 flex justify-center text-5xl font-bold text-estilo">
      Cursos y certificaciones
    </div>
  </div>
</div>
