<div
  class="flex mx-20 animate__animated animate__pulse animate__faster"
>
  <div class="w-1/2">
    <p class="text-cyan-400 text-3xl font-bold">Sobre mi:</p>
    <p class="text-white font-bold py-1">
      Naci en argentina, capital federal.<br />
      Inicie en el mundo de la programación en el 2019 en mindhub por medio de
      una beca otorgada por el Instituto Nacional de Educación Tecnológica del
      programa "Tu Futuro en Programación".<br />
      Amante de la tecnología y la programación. Autodidacta, me gusta aprender
      cosas nuevas y compartir conocimientos.
    </p>
  </div>
  <div class="w-1/2 flex justify-center pt-10">
    <div class="">
    </div>
  </div>
</div>
