<div
  class="mx-20 mt-10 text-white animate__animated animate__pulse animate__faster "
  style="height: calc(100vh - 10px)"
>
  <div class="w-full flex">
    <div class="w-5/12 px-4">
      <p
        class="flex justify-center text-black text-4xl font-bold"
      >
        Sobre mi
      </p>
      <p class="py-1 font-bold">
        Naci en Argentina, Ciudad Autonoma de Buenos Aires.<br />
        Inicie en el mundo de la programación web el 2019 en mindhub por medio
        de una beca otorgada por el Instituto Nacional de Educación Tecnológica
        del programa "Tu Futuro en Programación".<br />
        Amante de la tecnología y la programación. Autodidacta, me gusta
        aprender cosas nuevas y compartir conocimientos.
      </p>
    </div>

  </div>

  <div class="w-full mt-5 px-4 bg-zinc-900 rounded-lg shadow-md">
    <div
      class="flex justify-center text-amber-400 text-4xl font-bold text-estilo"
    >
      Educación
    </div>
    <div class="flex justify-between">
      <p class="text-white font-bold py-1">
        Universidad Tecnologica Nacional(UTN) - Ingenieria en Sistemas de
        Informacion
      </p>

      <p class="text-white font-bold py-1">En Curso</p>
    </div>

    <div class="flex justify-between">
      <p class="text-white font-bold py-1">
        Liceo 4, "Remedios de escalada de San Martin"
      </p>

      <p class="text-white font-bold py-1">Finalizado - Bachiller</p>
    </div>
  </div>

  <div class="w-full mt-5 px-4 bg-zinc-900 rounded-lg shadow-md">
    <div
      class="flex justify-center text-amber-400 text-4xl font-bold text-estilo"
    >
      Cursos y Certificaciones
    </div>
    <!-- tagla cursos logo y tecnologia -->
    <div class="overflow-x-auto relative rounded-lg mt-4 pb-3">
      <table class="w-full text-sm text-left text-gray-400">
        <thead class="text-xs uppercase bg-zinc-700 text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">Institucion</th>
            <th scope="col" class="py-3 px-6">Curso</th>
            <th scope="col" class="py-3 px-6">Año</th>
            <th scope="col" class="py-3 px-6">Link al certificado</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-zinc-800 hover:bg-gray-600 transition 4s">
            <th
              scope="row"
              class="py-4 px-6 font-medium whitespace-nowrap text-white"
            >
              Apple MacBook Pro 17"
            </th>
            <td class="py-4 px-6">Sliver</td>
            <td class="py-4 px-6">Laptop</td>
            <td class="py-4 px-6">$2999</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
