.efecto-movimiento {
  clip-path: circle(25% at center left);
  transition-property: clip-path;
  transition-duration: 1s;
  &:hover {
    clip-path: circle(100% at 50% 50%);
  }
  @media screen{

  }
}
