.efecto-movimiento {
  clip-path: circle(25% at center left);
  transition-property: clip-path;
  transition-duration: 1s;
  &:hover {
    clip-path: circle(100% at 50% 50%);
  }

  @media screen and (min-width: 586px) and (max-width: 767px) {
    clip-path: circle(20% at center left);
  }
  @media screen and (min-width: 768px) and (max-width: 1300px) {
    clip-path: circle(40% at center left);
  }
}
